@model List<maheen.Models.product>
@{
    ViewBag.Title = "ViewAllItems";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}
 @section Title
{
  <title>View All Products</title>   
}

@section header
{
   <a href="/Account/logout">Logout</a> 
    }
@section Menu
{
      <ul>
@*                <li><a href="/Admin/index" class="selected">Home</a></li>*@
                <li><a href="/Admin/Add_Product">Add Products</a>
                <li><a href="/Admin/Gallery">Gallery</a></li>
                <li><a href="/Admin/DelProducts">Delete Products</a>
                <li><a href="/Admin/UpdateProducts">Update Product</a></li>
                <li><a href="/Admin/viewallproducts">ViewAllproducts</a></li>
          </ul>
    }
@section Search
{
    <ul>
    <li><a href="/Admin/search" class="selected">Search</a></li>
        </ul>
    }
@section Sidebar
{
    <li class="first">Primary Office</li>
                        <li> <a href="mailto:info@yourcompany.com">info@yourcompany.com</a></li>
                        <li>Phone: 010-010-6600</li>
                        <li><a href="/Admin/viewallproducts">Products</a></li>
    }
@section BottomSidebar
{
    <h3>Admin Authorities </h3>   
                <div class="content"> 
                	<div class="bs_box">
                    	<a href="#"><img src="~/images/03.jpg" alt="image" /></a>
                        <h4><a href="/Admin/Gallery">Gallery</a></h4>
                       <div class="cleaner"></div>
                        </div>
                    </div>
    }
@section Slider
{
    <img src="~/images/slider/02.jpg" alt="" />
   
    }
@section Products
{
   <!DOCTYPE html>
<body>
    <div>
     	  <h5><strong>Products </strong></h5>
       
            <div class="content_half float_l checkout">
                @if(Model!=null)
{
 foreach(var x in Model)
 {   
            
      <tr><td><img src="~/images/@x.imagepath" alt="" width="50%" height="50%"/></td>
            <td>
                <table style="margin-right:400px">
          <tr><td><p >Name of shoe: </p></td><td> @x.productname</td></tr>
          <tr><td><p >Quantity: </p></td><td>@x.quantity</td></tr>
		  
 		  <tr><td><p >Price: </p> </td><td>@x.price</td></tr>
                      </table>
                     @using (Html.BeginForm("DeleteItem1", "Admin",FormMethod.Post))
                                                    {
                                                        @Html.Hidden("id", @x.PId);
                                                        <button type=" submit" >Delete</button>
                                                    }
          
    
                 
                    </td></tr>
                     
    }
    }

                 </div>
      
   <div class="cleaner h50"></div>
        
</div> 
    
        <div class="cleaner"></div>
   
</body>
    @*@Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts",required:false)*@
    }

@section Footer
{
    <p><a href="/Admin/index">Home</a> | <a href="/Admin/Add_Product">Add Products</a> | <a href="/Admin/UpdateProducts">Update Product</a>  | <a href="/Admin/DelProducts">Delete Product</a> 
		</p>
    }
 
