@model maheen.Models.customer

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}
 @section Title
{
  <title>Login page</title>   
}

@section header
{
      @*<a href="/Cart/shoppingcart">My Cart</a> 
            <p>
            	Shopping Cart: <strong> items</strong> ( <a href="/Cart/shoppingcart">Show Cart</a> )
		</p>*@
    }
@section Menu
{
       <ul>
                <li><a href="/Home/GoHome" class="selected">Home</a></li>
                <li><a href="/Home/viewallproducts">Products</a></li>
                <li><a href="/Home/about">About</a></li>
                <li><a href="/Home/contact">Contact Us</a></li>
           
          </ul>
    }
@section Search
{
    <ul>
    <li><a href="/Admin/search" class="selected">Search</a></li>
        </ul>
    }
@section Sidebar
{
    <li class="first">Primary Office</li>
                        <li> <a href="mailto:info@yourcompany.com">info@yourcompany.com</a></li>
                        <li>Phone: 010-010-6600</li>
                        <li><a href="/Cart/shoppingcart">View Cart</a></li>
                        <li><a href="/Home/contact">Contact Us</a></li>
    }
@section BottomSidebar
{
                <h3>Famous Footwear </h3>   
                <div class="content"> 
                	<div class="bs_box">
                    	<a href="#"><img src="~/images/02.jpg" alt="image" /></a>
                        <h4><a href="/Home/viewallproducts">Products</a></h4>
                       <div class="cleaner"></div>
                    </div>
                    </div>
    
    }
@section Slider
{
    <div id="slider" class="nivoSlider">
                 <img src="~/images/slider/02.jpg" alt="" />
                    <a href="#"><img src="~/images/slider/01.jpg" alt=""  /></a>
                    <img src="~/images/slider/03.jpg" alt=""  />
                </div>
    }
@section Products
{
     <div id="content" class="float_r">
        	
            <h5><strong>Login INFORMATION</strong></h5>
                  <div class="content_half float_l checkout">
                        @using (Html.BeginForm("loginn", "Account", FormMethod.Post))

            {    
                @Html.LabelFor(m => m.username)
                       @Html.TextBoxFor(m => m.username, new { id="username" })
           @Html.ValidationMessageFor(m => m.username)
                        <div class="cleaner h10"></div>
              
               @Html.LabelFor(m => m.password)
                      @Html.PasswordFor(m => m.password, new { id="password"})
                        <div class="cleaner h10"></div>

                           <input type="submit" class="submit_btn" name="submit" id="submit" value="LOgin" />
                       
                   }
         
        </div> 
        <div class="cleaner"></div>
            </div>
    
    @*@Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts",required:false)*@
    }

@section Footer
{
   <p><a href="/Home/index">Home</a> | <a href="/Home/viewallproducts">Products</a> | <a href="/Home/about">About</a>  | <a href="/Cart/checkout">Checkout</a> | <a href="/Home/contact">Contact Us</a>
		</p>
    }
 
      